$brand-cta: #EE752A;
$brand-red: #C9361D;
$brand-green: #A7C5BD;
$brand-blue: #42A3D7;
$titillium-web : 'Titillium Web', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$myrad-pro: 'PT Sans', sans-serif;
