ul.categories {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
        margin-bottom: 0.3rem;

        a {
            background-color: #eee;
            display: block;
            padding: 0.5rem 1rem;
        }
    }
}