// Google Fonts: Montserrat, Open Sans, Pacifico
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly
// Project variables
@import "variables";

@import "../bower_components/slick-carousel/slick/slick.scss";

// Bootstrap: Core variables and mixins
@import "bootstrap-variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Bootstrap: Reset and dependencies
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print";

// Bootstrap: Core CSS
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";

// Bootstrap: Components
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

// Font Awesome
@import "fontawesome/scss/font-awesome";


//Import components
@import "components/_mixins";
@import "components/_IE10";
@import "components/_print-media";
@import "components/_sticky-footer";
@import "components/_error-404";
@import "components/_navigation";
@import "components/_cookie-law";


//Import Sections
@import "sections/_hero";
@import "sections/_slick-slider";
@import "sections/_text-section";
@import "sections/_woocommerce";
@import "sections/_google-map";
@import "sections/_instagram";
@import "sections/_footer";
@import "sections/_teasers";
@import "sections/_video-player";


html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

body {
  font-size: 16px;
}