section.footer {
    @extend .container-fluid;
    &>div {
    @extend .container;
    }
    &.hide {
        display: none;
    }
    &.visible {
        display: block;
    }

    .logo {
        object-fit: cover;
        height: 80px;
        overflow: hidden;
        width: 80px;
    }

    .instagram {
        img {
            object-fit: cover;
            height: 80px;
            width: 80px;
        }
    }
}