section.hero {
    &.hide {
        display: none;
    }
    &.visible {
        display: block;
    }
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 300px;
    position: relative;

    .content {
        position: absolute;
        top: 0;
        left: 0;
    }
}