section.instagram {
    &.hide {
        display: none;
    }
    &.visible {
        display: block;
    }
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    .section-title, .section-text {
        text-align: center;
        color: #40434E;
    }
    .section-text {
        color: #40434E;
        font-size: 1.75rem;
        width: 75%;
        margin: 0 auto;
        @media screen and (max-width: 992px) {
            font-size: 1.25rem;
            width: 90%;
        }
    }
    .layout-grid {
        overflow: hidden;
    }
    .instagram-post {
        float: left;
        width: 16.66%;
        height: auto;
        @media screen and (max-width: 991px) {
            width: 33.33%;
        }
        a {
            img {
                width: 100%;
                height: auto;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .section-button {
        display: block;
        text-align: center;
        padding-top: 4%;
        padding-bottom: 3%;
        a {
            color: #ffffff;
            background-color: #BC2A30;
            padding: 1.5% 3%;
            -webkit-font-smoothing: antialiased;
        }
    }
}