section.slick-slider {
    .slick {
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 300px;
        position: relative;
        &.hide {
            display: none;
        }
        &.visible {
            display: block;
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    @include slick-button();
    /**
        Overwriting some changes for mixin slick-button
     */
    .slick-arrow {
        z-index: 2;
        left: 0;
    }
    .slick-next {
        left: auto;
        right: 0;
    }
}