section.teasers {
    @extend .container;
    .slick {
        &.hide {
            display: none;
        }
        &.visible {
            display: block;
        }

        .content {
            @extend .img-thumbnail;
            @extend .img-responsive;
            background-position: center center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            height: 250px;
            width: 100%;
        }
    }
}