section.text-section {
    padding: 6rem 0;
    .content {
        &.hide {
            display: none;
        }
        &.visible {
            display: block;
        }
        margin-bottom: 2rem;
    }
    .left, .middle, .right {
        h3, p {
            margin: 10px 0;
        }

    }

    .left {
        img.col-sm-4 {
            width: 100%;
            @media (min-width: $screen-sm-min) {
                width: 33.3333333333%;
            }
        }

        .col-sm-12 {
            padding: 0;
        }
    }

    .middle {
        h3, p {
            text-align: center;
        }
        img.col-sm-12 {
            width: 100%;
        }
    }

    .right {

        @media(min-width: $screen-sm-min) {
            .col-sm-4 {
                float: right;
            }
        }

        .col-sm-12 {
            padding: 0;
        }

        img.col-sm-4 {
            width: 100%;
            @media (min-width: $screen-sm-min) {
                width: 33.3333333333%;
            }
        }
    }
}