section.video-player {

    h2, h3 {
        text-align: center;
    }

    &.hero-setting {
        iframe {
            width: 100%;
            height: 500px;
        }
        padding: 0;
        margin: 0;
        @extend .container-fluid;
        &.hide {
            display: none;
        }
        &.visible {
            display: block;
        }
    }
    &.slider-setting {
        @extend .container;
        .content {
            iframe {
                height: auto;
                width: 100%;
            }
            &.visible {
                display: block;
            }
            &.hide {
                display: none;
            }

            padding: 6rem;
        }



    }
;
}