#cookie-overlay {

  h2#cookie-header {

  }

  input#button {

  }
}

.footer-position, .header-position {
  width: 100%;
  position: fixed;
}

.footer-position {
  bottom: 0;
}

.header-position {
  top: 0;
}