@mixin slick-button($color: #ababaa) {

    .slick-arrow {
        background-color: transparent;
        border: none;
        color: $color;
        font-size: 5rem;
        left: -3rem;
        margin-top: -35px;
        outline: none;
        padding: 0 2rem;
        position: absolute;
        top: 50%;
    }

    .slick-next {
        left: auto;
        right: -3rem;
    }
}